models:
  - type: main
    engine: bedrock_converse
    model: anthropic.claude-3-5-sonnet-20240620-v1:0
    parameters:
      region_name: "us-west-2"

rails:
  input:
    flows:
      - check jailbreak
      - check sensitive topics
  output:
    flows:
      - self check hallucination